node_modules/
.next/
out/
dist/

npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store

.env*.local

*.tsbuildinfo
next-env.d.ts

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
